body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../img/fundo-img.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#father{
    width: 100%;
    height: 100vh;
    max-width: 900px;
    background-color: #dadadad5;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#container-title{
    margin: 15px 15px 0 15px;
}

#container-link-header{
    display: flex;
    align-items: center;
    margin: 15px 15px 0 15px;
    
}

#container-link-header a{
    font-size: 20px;
}


#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.style-container{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

#aquisition-acelerometro-container-aw{
    display: flex;
    justify-content: center;
    align-items: center;
}


#aquisition-acelerometro-container-aw #aquisition-acelerometro-content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.description input{
    width: 50%;
    background-color: #eeeeeed5;
}

#health-indices-container{
    display: flex;
    justify-content: center;
}

#health-indices-container div{
    display: flex;
    flex-direction: column;
   
    margin-top: 20px;

}

#health-indices-container input{
    background-color: #eeeeeed5;
}

#aquisicao-container div label{
    display: flex;
    align-self: flex-start;
}


footer{
    display: flex;
    justify-content: center;
}
